* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5;
  padding: 2rem 2rem;
  background-color: #0088ff;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --font-poppins: 'Poppins';
}

.main-container {
  width: 100%;
  padding: 3rem 3rem;
  border-radius: 2rem;
  background-color: #f6f1f1;
}

/* navbar styles */

.nav-container {
  border-radius: 5rem;
  padding: 0.6rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-sub-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container .logo {
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: var(--font-poppins);
}

.nav-container .logo .portfolio-text {
  font-weight: 400;
  margin-left: 0.3rem;
}

.nav-container .links-container {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-container .links-container .links {
  color: #636c72;
  font-size: 1rem;
}

.nav-container .links-container .links.selected {
  color: #000;
}

.nav-container .links-container .links:hover {
  color: #000;
  transition: color 0.5s ease;
}

.menu-icon {
  cursor: pointer;
  display: none;
  width: 2rem;
  height: 2rem;
}

/* info section styles */
.info-container {
  display: flex;
  margin-top: 5rem;
  flex-direction: row;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: space-evenly;
}

.info {
  width: 35%;
}

.info-title {
  color: #636c72;
  font-size: 1rem;
}

.info-name {
  color: #000;
  font-size: 2.5rem;
  font-weight: bold;
}

.info-career {
  color: #636c72;
  font-size: 1rem;
  text-align: justify;
}

.profile-container {
  width: 20rem;
  height: 20rem;
  padding: 1rem;
  align-items: center;
  border-radius: 100rem;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-pic {
  object-fit: fill;
  width: 18rem;
  height: 18rem;
  border-radius: 100rem;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2rem;
  gap: 1rem;
  align-self: center;
  flex-wrap: wrap;
}

.btn {
  border-width: 0.1rem;
  border-color: #0088ff;
  border-style: solid;
  padding: 0.5rem 1.2rem;
  border-radius: 10rem;
}

.btn:hover {
  border-width: 0.1rem;
  border-color: #0088ff;
  border-style: solid;
  padding: 0.5rem 1.2rem;
  border-radius: 10rem;
  cursor: pointer;
  background-color: #0088ff;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.info-btn {
  color: #000;
  font-size: 1rem;
  text-align: center;
}

.btn:hover .info-btn {
  color: #fff;
  transition: color 0.3s ease;
}

/* offer section styles */
.offer-container {
  margin-top: 5rem;
}

.title {
  color: #000;
  font-weight: 600;
  font-size: 1.2rem;
  font-family: var(--font-poppins);
}

.under-line {
  width: 11%;
  height: 0.2rem;
  margin-top: 0.5rem;
  border-radius: 10px;
  background-color: #000;
}

.work-container {
  display: grid;
  row-gap: 2rem;
  column-gap: 3rem;
  margin-top: 2rem;
  grid-template-columns: auto auto;
}

.work-item {
  gap: 1rem;
  display: flex;
  flex-direction: row;
}

.work-title {
  color: #000;
  font-weight: 500;
  font-size: 1rem;
  font-family: var(--font-poppins);
}

/* Media Queries */

/* media queries tablet */
@media screen and (max-width: 768px) {
  body {
    width: 100%;
    padding: 0 0;
  }
  .main-container {
    border-radius: 0;
    padding: 0 0;
  }
  .nav-container {
    border-radius: 0;
  }
  .info {
    width: 80%;
    margin-top: 2rem;
  }
}

/* media queries laptop */
@media screen and (max-width: 1024px) {
  .links-container {
    display: none !important;
  }
  @keyframes slide-down {
    0% {
      opacity: 0;
      transform: translateY(-2rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .links-container.open {
    display: flex !important;
    position: absolute;
    top: 4rem;
    gap: 0.5rem;
    padding: 1rem 2rem;
    background: #ffffff;
    border-radius: 1rem;
    flex-direction: column;
    width: -webkit-fill-available;
    animation: slide-down 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .logo-sub-container {
    position: relative;
  }
  .menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .info-container {
    margin-top: 2rem;
    flex-direction: column-reverse;
  }
  .info {
    width: 100%;
    margin-top: 2rem;
  }
  .btn-container {
    flex-direction: column;
    gap: 1rem;
  }
}

/* media queries mobile */
@media screen and (max-width: 425px) {
  body {
    width: 100%;
    padding: 0 0;
  }
  .main-container {
    border-radius: 0;
    padding: 0 0;
  }
  .nav-container {
    border-radius: 0;
  }
  .info {
    width: 80%;
    margin-top: 2rem;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  body {
    width: 100%;
    padding: 0 0;
  }
  .info {
    width: 80%;
    margin-top: 2rem;
  }
}
